S3method(samp,data.frame)
S3method(samp,default)
export("%nin%")
export(Mode)
export(comma_vector)
export(context_plot)
export(county_to_office)
export(county_to_office_v)
export(df_to_json)
export(facet_adjust)
export(fill_in)
export(h)
export(kml)
export(n)
export(path_prep)
export(pretty_date)
export(resetwd)
export(samp)
export(stored_procedure)
export(su)
export(theme_clean)
export(trend_plot)
export(trend_plot2)
export(trend_plot3)
